.clearfix {
	display: block;
	clear: both;
}
* {
	font-family: "Source Sans Pro";
}

body {
    background-color: black; 
}
#container {
	width: 500px;
	margin: 130px auto 0 auto;
	display: block;
	position: relative;
}
ul {
	list-style-type: none;  
}

ul li {
	display: inline;
	float: left;
	color: seagreen;
	width: 33%;
	font-size: 1.1em;
	text-align: center;
}
ul li::before {
	text-align: center;
	border: 3px solid green;
	height: 40px;
	-moz-border-raduis: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	width: 40px;
	display: block;
	margin: 5px auto;
	font-size: 1.2em;
}

#step1::before {content:"1";}
#step2::before {content:"2";}
#step3::before {content:"3";}

.selected::before {
	background: #fff;
	color: #27333d;
} 

.form-container {
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 37px;
	position: absolute;
	width: 500px;

}

fieldset {
	border: none;
	margin: 0px;
	padding: 0px;
}

legend {
	text-align: center;
	text-transform: uppercase;
	color: gray; 
}
label {
	display: none;
}
span.step {
	text-align: center;
	font-size: 1.6em;
	font-weight: 600;
	display: block;
	margin: -5px 0 25px 0;
}
.full-txt {
	width: 100%;
	padding: 13px;
	font-size: 1.1em;
	margin-bottom: 20px;
}
input:focus {
	border: 3px solid #263293;
}

@media only screen and (max-width: 40.063em) {

	
}	